.pantalla{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.caja{
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}